# Copie ce fichier en .env.local et renseigne les valeurs
NEXT_PUBLIC_API_URL=https://Simsimsrfc2-smartsim-api.hf.space
NEXT_PUBLIC_SUPABASE_URL=https://gjeiyboypzomhyepebba.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
